<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <title>Lots Log in</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="/dist/css/AdminLTE.min.css" />
</head>
<body class="hold-transition login-page">
<div class="login-box">

    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form th:action="@{/login}" method="post">
            <div class="form-group has-feedback has-feedback-left">
                <span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
                <input type="text" class="form-control" name="username" placeholder="Username" />
            </div>
            <div class="form-group has-feedback">
                <span class="fa fa-lock form-control-feedback" aria-hidden="true"></span>
                <input type="password" class="form-control" name="password" placeholder="Password" />
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<th:block layout:fragment="js-addition">
    <script th:src="@{/plugins/jQuery/jQuery-2.2.0.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</th:block>
</html>