<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="header" id="header" class="row main-header">
        <div class="row">
            <div class="row">
                <table class="table table-bordered" style="margin-bottom: 0;">
                    <tr>
                        <th rowspan="2"></th>
                        <th style="width: 20%">
                            <div class="information-data-green-black">
                                5,316.32
                            </div>
                        </th>
                        <th style="width: 68%">
                            <!--<table class="table table-responsive table-sm" style="width: 100%;">-->
                                <!--<tr>-->
                                    <!--<th style="width: 16.5%">5,293.78</th>-->
                                    <!--<th style="width: 16.5%">5,305.11</th>-->
                                    <!--<th style="width: 16.5%">5,318.29</th>-->
                                    <!--<th style="width: 16.5%">5,291.14</th>-->
                                    <!--<th style="width: 16.5%">+0.49%</th>-->
                                    <!--<th style="width: 16.5%"></th>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>Prev</td>-->
                                    <!--<td>Open</td>-->
                                    <!--<td>High</td>-->
                                    <!--<td>Low</td>-->
                                    <!--<td>Year to Date</td>-->
                                    <!--<td></td>-->
                                <!--</tr>-->
                            <!--</table>-->
                        </th>
                    </tr>
                    <tr>
                        <td style="width: 20%">
                            <div class="information-data-green-black">
                                +0.44% (+22.74)
                            </div>
                        </td>
                        <td style="width: 68%">
                            <!--<table class="table table-responsive" style="width: 100%;">-->
                                <!--<tr>-->
                                    <!--<th style="width: 16.5%">166</th>-->
                                    <!--<th style="width: 16.5%">104</th>-->
                                    <!--<th style="width: 16.5%">101</th>-->
                                    <!--<th style="width: 16.5%">2.88 T</th>-->
                                    <!--<th style="width: 16.5%">119.95</th>-->
                                    <!--<th style="width: 16.5%">174,638</th>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>Advantage</td>-->
                                    <!--<td>Decline</td>-->
                                    <!--<td>Unchanged</td>-->
                                    <!--<td>Value</td>-->
                                    <!--<td>Volume</td>-->
                                    <!--<td>Frequency</td>-->
                                <!--</tr>-->
                            <!--</table>-->
                        </td>
                    </tr>
                </table>
                <table class="table" style="margin-bottom: 0">
                    <tr>
                        <th>
                            <div class="information-data-green-white">
                                Market Watch
                            </div>
                        </th>
                        <th>
                            <div class="information-data-green-white">
                                Quote
                            </div>
                        </th>
                        <th>
                            <div class="information-data-green-white">
                                Top Ranking
                            </div>
                        </th>
                        <th>
                            <div class="information-data-green-white">
                                Stock Summary
                            </div>
                        </th>
                        <th>
                            <div class="information-data-green-white">
                                Broker Summary
                            </div>
                        </th>
                        <th>
                            <div class="information-data-green-white">
                                Portofolio Orders
                            </div>
                        </th>
                        <th>
                            <div class="information-data-red-white">
                            <a href="/logout">LOGOUT</a>
                            </div>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</html>