<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/main_layout">
<body>
<th:block layout:fragment="content">
    <div class="row main-content">
        <div style="background-color: black; padding-right: 0; height: 100%" class="col-8 col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">

            <!--row stock quote 1-->
            <div class="row" style="height: 50%">
                <div style="background-color:black;padding-right: 0; height: 100%" class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div style="height:100%;overflow:hidden; border: 1px rgb(15,110,160) solid; border-top: 0; border-bottom: 0">
                        <table style="margin-bottom: 0; width: 100%" class="table-condensed table-sm table-responsive">
                            <tr style="background-color: rgb(15,110,160); color: white">
                                <td colspan="9" style="text-align: center; font-weight: bold">Stock Quote</td>
                            </tr>
                            <tr >
                                <td colspan="9">
                                    <div style="width: 100%">
                                        <input style="width: 35%"/>
                                        <button style="width: 25%">123456</button>
                                        <button style="width: 35%">098765</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div style="background-color: black; padding-left:0; padding-right: 0;height: 100%" class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div style="height:100%;overflow:hidden">
                        <table style="margin-bottom: 0; width: 100%" class="table-condensed table-sm table-responsive">
                            <thead>
                            <tr style="background-color: rgb(15,110,160); color: white">
                                <th colspan="9" style="text-align: center">Stock Quote</th>
                            </tr>
                            <tr style="background-color: black; color: rgb(255,105,95); border-bottom: 1px rgb(15,110,160) solid">
                                <th style="width: 16.5%">#B</th>
                                <th style="width: 16.5%">Blot</th>
                                <th style="width: 16.5%">Bid</th>
                                <th style="width: 16.5%">Offer</th>
                                <th style="width: 16.5%">Olot</th>
                                <th style="width: 16.5%">#O</th>
                            </tr>
                            </thead>
                            <tbody style="color: white">
                            <tr>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                            </tr>
                            <tr>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--row stock quote 2-->
            <div class="row" style="height: 50%">
                <div style="padding-right: 0;height: 100%" class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div style="background-color:black;height:100%;overflow:hidden; border: 1px rgb(15,110,160) solid; border-top: 0">
                        <table style="margin-bottom: 0; width: 100%" class="table-condensed table-sm table-responsive">
                            <thead>
                            <tr style="background-color: rgb(15,110,160); color: white">
                                <th colspan="9" style="text-align: center">Stock Quote</th>
                            </tr>
                            <tr style="background-color: black; color: rgb(255, 105,95); border-bottom: 1px rgb(85,110,150) solid">
                                <th style="width: 16.5%">#B</th>
                                <th style="width: 16.5%">Blot</th>
                                <th style="width: 16.5%">Bid</th>
                                <th style="width: 16.5%">Offer</th>
                                <th style="width: 16.5%">Olot</th>
                                <th style="width: 16.5%">#O</th>
                            </tr>
                            </thead>
                            <tbody style="color: white">
                            <tr>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="background-color: black; padding-left:0; padding-right: 0;height: 100%" class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div style="height:100%;overflow:hidden; border-bottom: 1px rgb(85,110,150) solid">
                        <table style="margin-bottom: 0; width: 100%" class="table-condensed table-sm table-responsive fixed">
                            <thead>
                            <tr style="background-color: rgb(15,110,160); color: white">
                                <th colspan="9" style="text-align: center">Stock Quote</th>
                            </tr>
                            <tr style="background-color: black; color: rgb(255, 105,95); border-bottom: 1px rgb(85,110,150) solid">
                                <th style="width: 16.5%">#B</th>
                                <th style="width: 16.5%">Blot</th>
                                <th style="width: 16.5%">Bid</th>
                                <th style="width: 16.5%">Offer</th>
                                <th style="width: 16.5%">Olot</th>
                                <th style="width: 16.5%">#O</th>
                            </tr>
                            </thead>
                            <tbody style="color: white">
                            <tr>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--running trade-->
        <div id="parentRow" class="rt-parent col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="rt-parent-div">
                <table style="margin-bottom: 0; width: 100%" class="table-condensed table-sm table-responsive fixed">
                    <thead>
                    <tr style="background-color: rgb(15,110,160); color: white">
                        <th colspan="8" style="text-align: center">Running Trade</th>
                    </tr>
                    <tr class="rt-head">
                        <th class="element-text" style="width: 8%">Time</th>
                        <th class="element-text" style="width: 8%">Mkt</th>
                        <th class="element-text" style="width: 14%">Stock</th>
                        <th class="element-balance" style="width: 11%">Buy</th>
                        <th class="element-balance" style="width: 11%">Sell</th>
                        <th class="element-balance" style="width: 16%">Price</th>
                        <th class="element-balance" style="width: 16%">Chg</th>
                        <th class="element-balance" style="width: 16%">Qty</th>
                    </tr>
                    </thead>
                    <tbody id="incomingTableData" >
                    <tr style="height: 0; color: white">
                        <td class="element-text">12.05</td>
                        <td class="element-text">NG</td>
                        <td class="element-text">BUMI</td>
                        <td class="element-balance">1000</td>
                        <td class="element-balance">7000</td>
                        <td class="element-balance">4000</td>
                        <td class="element-balance">100</td>
                        <td class="element-balance">1000</td>
                    </tr>
                    <tr style="height: 0; color: white">
                        <td class="element-text">14.07</td>
                        <td class="element-text">GN</td>
                        <td class="element-text">CGKA</td>
                        <td class="element-balance">3000</td>
                        <td class="element-balance">5000</td>
                        <td class="element-balance">1000</td>
                        <td class="element-balance">200</td>
                        <td class="element-balance">5000</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="js-addition">
    <script src="/dist/js/pages/dashboard.js"></script>
</th:block>
</html>